*{
    margin: 0;
    padding: 0;

    /* se cambia el modelo de la pagina*/
    box-sizing: border-box;
}

html{
    background-image: url(https://i.etsystatic.com/5451974/r/il/a9eb3b/2279803383/il_fullxfull.2279803383_gt2h.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 1000px;
    background-attachment: fixed;
    background-size: cover;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

/*adaprtar tamaño de pantalla*/
    font-size: 1.5em;

/*para ocupar toda la pantalla*/
    min-height: 100%;
}

body > *{
    box-shadow:-1px 1px 7px 0px rgba(0, 0, 0, 0.75) ;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

body{
/*Proporciona una cuadricula de una sola columna*/
    display: grid;

/*separacion de los elementos*/
    gap: 10px;
} 

body{
    /*definir las areas para un mismo trabajo*/
    grid-template-areas:
        "header"
        "nav"
        "article,"
        "aside" "
        "footer";
}

.header{
    grid-area: header;
    background-color: blue;
}

.nav{
    grid-area: nav;
    background-color: blueviolet;
}

.article{
    grid-area: article;
    background-color: chartreuse;
}

.aside{
    grid-area: aside;
    background-color: deeppink;
}

.footer{
    grid-area: footer;
    background-color: rgb(225, 250, 2);
}

/*PSEUDOCODIGO: es una palabra que se añade a los selectores y que se especifica un estado especial del elemento selecionado*/

@media (min-width:600px){
    body{
        grid-template-columns: 200px auto;
        grid-template-rows: 100px 50px auto 100px;
        grid-template-areas:
        "header header"
        "nav nav"
        "aside" "article"
        "footer" "footer"
        ;
    }
} 